# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Platform build outputs
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
